{% extends "base_EN.html" %}
{% block content %}

<div class="page-header">
  <h1>What is Verba?</h1>
</div>

  <p><b>Verba</b> is a learner dictionary of Russian verb constructions.</p>
  <p>The dictionary can be useful for everyone interested in learning Russian as a foreign language.</p>
  <p>The dictionary provides constructions and examples for 1072 verbs.</p>
  <p><a href="http://marker.framebank.ru/verbs.php" target="_blank">FrameBank</a> was used as a source of information about the constructions.</p>
  <p>The examples are automatically retrieved from the  <a href="http://ruscorpora.ru/search-para-en.html" target="_blank">parallel</a> and <a href="http://ruscorpora.ru/search-main.html" target="_blank">main</a> sections of <a href="http://ruscorpora.ru/" target="_blank">Russian National Corpora</a>.</p>


{% endblock %}