{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h1>Что такое Verba?</h1>
</div>

  <p><b>Verba</b> &mdash; это учебный словарь конструкций с русскими глаголами.</p>
  <p>Словарь предназначен для всех, кто заинтересован в изучении русского языка как иностранного.</p>
  <p>Словарь содержит 1072 глагола с полностью описанными конструкциями и примерами для каждой конструкции.</p>
  <p>В качестве источника информации о конструкциях был использован словарь конструкций <a href="http://marker.framebank.ru/verbs.php" target="_blank">FrameBank</a>.</p>
  <p>Примеры извлечены автоматически из <a href="http://ruscorpora.ru/search-para-en.html" target="_blank">параллельного</a> и  <a href="http://ruscorpora.ru/search-main.html" target="_blank">основного</a> подкорпусов <a href="http://ruscorpora.ru/" target="_blank">Национального корпуса русского языка</a>.</p>

{% endblock %}